.container {
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(16, 6.25%);
    margin-top: 10%;
    height: 400px;
    width: 400px;
    margin-left: 40%;
}

.square{
    margin: 0 0 0 0;
    background-color: grey;
}

button {
    margin-left: 40%;

}

h1 {
    margin-left: 42%;
}